body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #1f2020;
    color: #fcffee;
}

.container {
    max-width: 75vw;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.line {
    border-bottom: 2px solid #6f00dd;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.content {
    text-align: left;
}

h2 {
    font-size: 24px;
    margin-top: 40px;
}

p {
    text-indent: 20px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
}

li{
    line-height: 1.5;
    font-size: 18px;
    text-align: justify;
    text-indent: 20px;
    list-style-type: disc;
    margin-bottom: 10px;
}

img {
    display: block;
    max-width: 250px;
    height: fit-content;
    margin: 50px auto;
    align-items: center;
    border: 5px solid #313026;
    border-radius: 10px;
}

figcaption{
    display: block;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
}

.legenda{
    margin-bottom: 10px;
}

.especial{
    display: block;
    max-width: 400px;
    margin: 10px auto;
    align-items: center;
    border: 5px solid #313026;
    border-radius: 10px;
}

.resultados{
    display: flex;
}

.ultimo{
    margin-bottom: -50px;
}

.footer-link {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 20px;
    position: sticky;
    bottom: 20px;
    background-color: #6f00dd;
    padding: 12px 40px;
    text-decoration: none;
    border-radius: 18px;
    transition: background-color 0.3s ease;
}

.footer-link:hover {
    background-color: #1b0036;
}

body a{
    color: #fff;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #6f00dd;  /** cor **/
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fcffee;
    transition: background 0.5s;
    cursor: pointer;
}
.btn:hover{
    background: #6f00dd;    /** cor **/
}
h3{
    margin-bottom: -12px;
}
.estudo2{
    display: flex;
    flex-direction: row;
}
.estudo22{
    display: flex;
    flex-direction: row;
}
.estudo2 img{
    display: block;
    max-height: 300px;
    height: fit-content;
    margin: 0px auto;
    align-items: center;
    border-radius: 10px;
}

.estudo22 img{
    display: block;
    max-height: 200px;
    height: fit-content;
    margin: 0px auto;
    align-items: center;
    border-radius: 10px;
    border: none;
}
.grande{
    max-width: 350px;
}

/*--------------------------------------PARA CELULAR-------------------------------------*/
@media only screen and (max-width: 600px){
    h1 {
        font-size: 25px;
        margin-bottom: 18px;
    }
    .line {
        width: 60%;
    }
    h2 {
        font-size: 22px;
        margin-top: 35px;
    }
    p {
        font-size: 16px;
    }
    li{
        font-size: 16px;
    }
    img {
        max-width: 70vw;
        max-height: 70vh;
    }
    .especial{
        max-width: 100%;
        max-height: 70vh;
    }
    .resultados{
        display: block;
    }
    .footer-link {
        font-size: 18px;
        padding: 13px 28px;
    }
    .estudo2 img{
        max-width: 50%;
        max-height: 70vh;
    }
    .estudo22 img{
        max-width: 50%;
        max-height: 70vh;
    }
    .grande{
        max-width: 100%;
        max-height: 90vh;
    }

}